<div class="emergency-background">
  <h1 class="header1">Emergency Contact Information</h1>

  </div>

  <div class="flex-container">
    <div class="tamu"> 
      <div class="text_title">Texas A&M Emergency Contacts: </div><br></br>
        <div class="column_1"> 
          <div class="text"> 24 Hour Emergency line: </div> 
          <a href="tel: +1 (979) 255-6103"> <div class="link_phone"> +1-979-255-6103 </div></a> <br></br>
          <div class="text"> Emergency Email: </div> 
          <a href=mailto:"abroademergency@tamu.edu"> <div class="link_email"> abroademergency@tamu.edu </div></a></br></br>     
          <div class="text"> Texas A&M Police Department: </div> 
          <a href="tel: +1 (979) 845-2345"> <div class="link_phone"> +1-979-845-2345 </div> </a> 
          <br></br>
        </div>
        <div class="column_2">
          <div class="text"> For more information please visit </div> <br></br>
          <a href="http://abroad.tamu.edu/About-Us"> <div class="link_tamu"> Texas A&M Education Abroad </div></a> <br></br>
	  </div>
    </div>
<br></br>

     <div class="europe">
       <div class="text_title"> Europe Emergency Authorities: </div><br></br>
       <div class="column3"> 
         <div class="intl_text"> European Union: </div> 
         <div class="intl_num"> 112 works in all EU countries. </div> <br></br>
         <div class="intl_text"> Germany: </div>
         <div class="intl_num"> 110 for police. 112 for fire and medical. </div> <br></br>
         <div class="intl_text"> Italy: </div>
         <div class="intl_num"> 113 for police. 115 for fire. 118 for medical. </div> <br></br>
         <div class="intl_text"> France: </div> 
         <div class="intl_num"> 17 for police. 18 for fire. 15 for medical. </div> <br></br> 
       </div>
       <div class="column4">
         <div class="intl_text"> United Kingdom: </div>
         <div class="intl_num"> 999 </div> <br></br>
         <div class="intl_text"> Switzerland: </div> 
         <div class="intl_num"> 117 for police. 144 for medical. </div> <br></br>
         <div class="intl_text"> Spain: </div>
         <div class="intl_num"> 091 for police. 080 for fire. 061 for medical.</div><br></br>
         <div class="intl_text"> Austria: </div>
         <div class="intl_num"> 133 for police. 122 for fire. 144 for medical. </div> <br></br>
        </div>              
     </div>
<br></br>
     <div class="south_america">
       <div class="text_title"> Central and South America Emergency Authorities: </div><br></br>
       <div class="column5">
         <div class="intl_text"> Costa Rica: </div> 
         <div class="intl_num"> 911. 118 for fire. 128 for medical. </div> <br></br>
         <div class="intl_text"> Mexico: </div>
         <div class="intl_num"> 060 for police. 065 for medical. </div> <br></br>	
         <div class="intl_text"> Nicaragua: </div> 
         <div class="intl_num"> 101 </div> <br></br>
       </div>
       <div class="column6">	
         <div class="intl_text"> Brazil: </div>
         <div class="intl_num"> 190 for police. 193 for fire and medical.</div> <br></br>
         <div class="intl_text"> Chile: </div>
         <div class="intl_num"> 133 for police. 132 for fire. 131 medical.</div> <br></br>
	 <div class="intl_text"> Honduras: </div>
         <div class="intl_num"> 911 for police. 198 for fire. 195 for medical.</div> <br></br>
       </div>
     </div>	
<br></br>
     <div class="asia">
       <div class="text_title"> Asia Emergency Authorities: </div><br></br>
       <div class="column7">
         <div class="intl_text"> Singapore: </div> 
         <div class="intl_num"> 999 for police. 995 for fire and medical. </div> <br></br>  
         <div class="intl_text"> China: </div> 
         <div class="intl_num"> 119 </div> <br></br>
         <div class="intl_text"> Japan: </div>
         <div class="intl_num"> 110 for police. 120 for medical. </div> <br></br>
       </div>
       <div class="column8">
         <div class="intl_text"> India: </div> 
         <div class="intl_num"> 110/112 for police. 102/108/112 for medical. </div> <br></br>
         <div class="intl_text"> Thailand: </div> 
         <div class="intl_num"> 191/911 for police. 1669 for medical. </div> <br></br>
         <div class="intl_text"> South Korea: </div>
         <div class="intl_num"> 112 for police. 911 for fire and medical. </div> <br></br>
       </div>
     </div>
<br></br>

     <div class="africa">
       <div class="text_title"> Africa Emergency Authorities: </div><br></br>
       <div class="column9">
         <div class="intl_text"> South Africa: </div>
         <div class="intl_num"> 10111 </div> <br></br>
         <div class="intl_text"> Ghana: </div>
         <div class="intl_num"> 191 for police. 193 for medical. </div> <br></br>
         <div class="intl_text"> Egypt: </div>
         <div class="intl_num"> 122 for police. 180 for fire. 123 for medical </div> <br></br>	
       </div>
       <div class="column10">
         <div class="intl_text"> Morocco: </div>
         <div class="intl_num"> 19 for police. 15 for fire and medical. </div> <br></br>
         <div class="intl_text"> Rwanda: </div>
         <div class="intl_num"> 112 for police and fire. 912 for medical. </div> <br></br>
         <div class="intl_text"> Trinidad & Tobago: </div>
         <div class="intl_num"> 999 </div> <br></br>	
       </div>
     </div>

   </div>
  </div>
       
</div>
