<h1>Emergency Contact Information</h1>
<!-- <p>Find me in app/views/emergency/emergency.html.erb</p> -->
<div class="emergency", id="get_help_page">
    <h3>For any emergency or in immediate danger in the United States , please call 911</h3>
</div>

<div class="emergency_info">
  <div class="column", id="tamu">
	<p> IN CASE OF EMERGENCY </p>
	<p> 24 Hour Emergency line: </p>
	<a href="tel: +1 (979) 255-6103"> 1-979-255-6103 </a>
	<p> Emergency Email: </p> <a href=mailto:"abroademergency@tamu.edu">abroademergency@tamu.edu</a>
	<p> Texas A&M Police Department: </p>
	<a href="tel: +1 (979) 845-2345"> 1-979-845-2345 </a>
	<br> </br>

	<p> Contact TAMU Study Aboard Office </p>
	<p> Office Hours: </p>
	<p> Monday-Friday: 8 am - 5 pm </p>
	<a href="tel:979-845-0544">979-845-0544</a>
	<br> </br>
  </div>
  <div class="column", id="other">
	<p> Other country emergency contact information </p>
  </div>

</div>


