<div class="emergency-background">
        <h1 class="header1">Emergency Contact Information</h1>
        <div class="emergency", id="get_help_page">
                <h3>For any emergency or in immediate danger in the United States , please call 911</h3>
        </div>
        <div class="flex-container">
                        <div class="column", id="tamu">
				Texas A&M Emergency Contacts:
			<br></br>
                        <div class="links">        
				24 Hour Emergency line:
                                <a href="tel: +1 (979) 255-6103"> +1-979-255-6103 </a> 
                                Emergency Email: <a href=mailto:"abroademergency@tamu.edu">abroademergency@tamu.edu</a>        
                               

                                Texas A&M Police Department: 
                                <a href="tel: +1 (979) 845-2345"> +1-979-845-2345 </a>
                                <br> </br>

				For more information please visit <br></br>
				<a href="http://abroad.tamu.edu/"> Texas A&M Education Abroad </a>

				
				                       
		        </div>
			</div>
	</div>
	<div class="flex-container">
                        <div class="column", id="tamu_office">
				International Emergency Contacts:
   			<div class="links">
                                <br></br>
                                Other country emergency contact information:
                        </div>
				
			</div>
        </div>
       
</div>
