<div class="emergency-background">
  <h1 class="header1">Emergency Contact Information</h1>

  </div>

  <div class="flex-container">
      <div class="column", id="tamu">
        <div class="text_title">Texas A&M Emergency Contacts: </div><br></br>
        <div class="text"> 24 Hour Emergency line: 
        <a href="tel: +1 (979) 255-6103"> <div class="link_phone"> +1-979-255-6103 </div></a></div> <br></br>
      
        <div class="text"> Emergency Email: </div> 
        <a href=mailto:"abroademergency@tamu.edu"> <div class="link_email"> abroademergency@tamu.edu </div></a> <br></br>      
     
        <div class="text" id="police"> Texas A&M Police Department: </div> 
        <a href="tel: +1 (979) 845-2345"> <div class="link_phone"> +1-979-845-2345 </div> </a>
        <br></br>
        <div class="text"> For more information please visit </div> <br></br>
        <a href="http://abroad.tamu.edu/"> <div class="link_tamu"> Texas A&M Education Abroad </div></a> <br></br>
      </div>
     <div class="intl_column", id="tamu_office">
       <div class="text_title"> International Emergency Contacts: </div><br></br>
       <div class="intl_text"> Brazil: </div>
       <div class="intl_num"> 190 for police. 193 for fire and medical.</div> <br></br>
       <div class="intl_text"> China: </div> 
       <div class="intl_num"> 119 </div> <br></br>
       <div class="intl_text"> European Union: </div>
       <div class="intl_num"> 112 </div> <br></br>
       <div class="intl_text"> Japan: </div>
       <div class="intl_num"> 110 for police. 120 for medical. </div> <br></br>
       <div class="intl_text"> Mexico: </div>
       <div class="intl_num"> 060 for police. 065 for medical. </div> <br></br>
       <div class="intl_text"> South Africa: </div>
       <div class="intl_num"> 10111
     </div>			
   </div>
  </div>
       
</div>
