<div class="review_page">
    <h1>Leave a Review Here</h1>
</div>

<div class="review_text">
    <% if !@review.nil?%>
        <%= form_for @review do |f| %>
            <%= f.text_area :review, :cols => 30, :rows => 10 %>
            <%= submit_tag("Submit") %>
        <% end %>
    <% end %>
</div>
