// Place all the styles related to the emergency controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body{
  padding:10;
  margin:10;
  height: 100%;
  background-color: white;
 
}

.header1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px !important;
  color: #500000 !important;
  text-align: center;
}

.emergency{
        text-align: center;       
}     

#center { // Center anything with a flexbox
  justify-content: center;
}

.flex-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: white !important;

  display: flex;
  flex-direction: row;
  display: inline-flex;

  flex-grow: 0;
  flex-basis: auto;
  flex-shrink: 0;

  height: 30%;
  align-items: center;
 -webkit-flex-flow: row wrap;
  flex-start: center;

  padding: 50px;
  width: 500px;
  margin-top: 30px;
  margin-left: 60px;
  word-break:break;

  justify-content: space-around;
  box-shadow: 10px 5px 18px grey;
}

#tamu, #tamu_office, #police, #other {
 border:1px dotted white;
}

.column{
  background: white;
  padding: 10px;
  width: auto;
  height: auto;
  margin-top: 5px;
  

  font-size: 20px;
  align-items: center;

  color:#500000;
  font-weight: bold;

 text-align: center;
  line-height: 25px;
  //display: inline-flex;

}

.links{
  font-size: 15px;
  color: grey;
  text-decoration: underline;
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
