// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
    padding:0;
    margin:0;
    height: 100%;
}

html { 
     height: 100%; 
}

/**** Image ****/ 
img{
    height: 100%;
    float: left;
}

/****Typography ****/
// WHOOP Header
.h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 80px !important;
    color: white !important; 
}

// Tagline 
.index-subheading { 
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; 
    color: white !important; 
}

#center { // Center anything with a flexbox 
    justify-content: center; 
}

.vl {
    border-left: 6px solid white;
    height: 80%;
    margin-top: 10%;
    float: left;
}

.card {
    background-color: grey;
    width: 30%;
    height: 150px;
}

.menu {
    background-color: #500000;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 75px;
}

.name_tag {
    margin-left: 10px;
}

.link {
    color: white;
    text-decoration: none;
}

// Button Styles 
.btn-primary { 
    background-color: #500000 !important;
    border-color: #500000 !important;
    color: white !important;
}

.btn-primary:hover { 
    background-color: #6b0000 !important;
    border-color: #6b0000 !important;
}


.big_container { // Container for Index Things
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    height: 60%; 
    align-items: center; 
}

.index-background { // Background Image
    background-image: url(new-2.jpg);
    background-size: cover;
    background-color: rgba(33,33,33,0.2);
    background-position: center bottom;
    background-blend-mode: overlay;
    overflow: hidden; 
    height: 100%;
}

#joint-search-bar { // Search Bar Container (Sets Size)
    width: 750px !important;
}

.search_bar { // Text Field Search Bars
    font-size: 1.8em !important; 
    font-family: 'Open Sans', sans-serif !important;
    height: calc(1.5em + .75rem + 10px) !important;
    padding-top: 1em !important; 
    padding-bottom: 1em !important;
    border-left: none !important;
}

.search_bar:before { 
    color: #e0e0e0 !important;
}

.form-control:focus { // Removes Blue Shadow when Text Field is in focus 
    border: 1px solid #ced4da !important;
    box-shadow: none !important;
    border-left: none !important;
}

.left-search_bar { // rounds only the left edges of the left search bar 
    border-radius: .5em 0em 0em .5em !important;
}

.middle-search-bar {  // makes edges of middle search bar items sharp
    border-radius: 0em !important;
}

.search-labels { // 'Find' and 'Near' Labels in Search Bar 
    background-color: white !important;
    border-right: none !important; 
    font-size: 1.8em !important; 
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 700 !important;
}

.search-button { // Search Button
    font-size: 2em !important;
    border-radius: 0em .5em .5em 0em !important; // rounds only the right edges of button
    height: calc(1.5em + .75rem + 7px) !important;
    padding-top: .25em !important; 
    padding-left: 1em !important; 
    padding-right: 1em !important; 
}

$gutter: 20px;

.show-card {
	background-color: grey;
    	width: 30%;
    	height: 50%;
}
.container,
.element {
    padding: $gutter / 2;
}

.flex {
	display: flex;
	box-sizing: border-box;
}

.row {
    flex-flow: row wrap;
}

.col {
    flex-flow: column wrap;
}

.element {
	min-width: 100px;
}

.content {
	flex: 1 100%;
}

.structure {
	min-height: 120px;
}

.break {
 	flex-basis: 100%;
  	height: 0;
}

.structure-1 {
        flex: 1 percentage(1/2);
}

.show-image {
        flex: 1 percentage(1/6);
}

.structure-split {
	flex: 1 percentage(5/6);
}
.show-title {
	flex: 1 percentage(4/6);
}

.structure-1-2-1 {
	flex: 1 percentage(1/6);
}

.show-review,
.show-btn {
	flex: 1 percentage(1/2);
}

.structure-2 {
	flex: 1 percentage(1);
}

.show-hours {
	flex: 1 percentage(2/6);
}


.show-contact {
	flex: 1 percentage(1/6);
}

.show-about {
	flex: 1 percentage(2/6);
}

.structure-3 {
	flex: 1 percentage(1);
}

.show-review-service {
	flex: 1 percentage(1/5);
}

.show-review-safety {
	flex: 1 percentage(1/5);
}

.structure-4{
	flex: percentage(1);
}

.show-comments {
	flex: 1 percentage(1);
}

.structure {
	flex: 1 percentage(1);
}

.show-item{
	flex: 1 percentage(1/6);
}

@media (max-width: 768px) {
	.structure-1,
	.structure-2,
	.f,
	.structure-2-2{
		flex: 1 100%;
		min-height: 480px;
	}
}


@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
